body {
	background-image: url("assets/torneio.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
}

.goku {
	display: flex;
	margin-left: 80%;
	margin-top: 20%;	
	position: absolute;
}

.b {
    margin: 100px;
	
}

.btn {
    width: 50px;
    height: 50px;
}
.btn1{
	background: url("assets/esfera1.png");
	animation-name: mover;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.btn2{
	animation-name: mover;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.btn3{
	animation-name: mover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}



@keyframes mover{
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(400px);
	}
	100%{
		transform: translateX(0);
	}
}
